
Auto_Repo_Plugin/.idea/workspace.xml
Auto_Repo_Plugin/target/classes/META-INF/maven/com.infonova.jenkins/jenkins-report/plugin-help.xml
Auto_Repo_Plugin/target/classes/META-INF/maven/plugin.xml
Auto_Repo_Plugin/target/jenkins-report-1.0-SNAPSHOT.jar
Auto_Repo_Plugin/target/maven-plugin-help.properties
Auto_Repo_Plugin/target/surefire-reports/TEST-com.infonoca.jenkins.DataAccessLayerUTest.xml
Auto_Repo_Plugin/target/maven-plugin-help.properties
Auto_Repo_Plugin/.idea/workspace.xml
Auto_Repo_Plugin/target/jenkins-report-1.0-SNAPSHOT.jar
ZumAusfuehren/data.html

